<div fxLayout="row" fxLayoutGap="8px" fxLayout.xs="column" fxLayoutGap.xs="0">
  <mat-card fxFlex="30%" fxLayoutAlign="center center" class="tile">
    <vex-stock-analysis-date-select ></vex-stock-analysis-date-select>
  </mat-card>
  <mat-card fxFlex="30%" fxLayoutAlign="center center" class="tile" >
    <vex-stock-analysis-graphic></vex-stock-analysis-graphic>
  </mat-card>
  <mat-card fxFlex="30%" fxLayoutAlign="center center" class="tile">
    <vex-stock-analysis-table></vex-stock-analysis-table>
  </mat-card>
</div>
